html{
    font-family: "Ninja Naruto";
}
h1 {
    color: red;
}

img {
    max-width: 100%;
    max-height: 75%;
}

div {
    background: blanchedalmond;
    margin: 25px;
}

main {
     display: flex;
     flex-direction: column;
}

header {
    text-align: center;
    margin: 25px;
    background-color: rgba(234,152,40);
}

.showMain {
    display: inline-block;
}